<div class='categorybar panel panel-default' id='categorybar'>
    <div class='panel-heading'>
        <h4 class='panel-title'>热门分类</h4>
    </div>
    <div class='list-group' id='categorybar-list'>
		{% for cate in site.categories %}
			{% assign ca_name = cate | first %}
			{% if ca_name != page.category %}
			<a class='list-group-item list-group-item-default' href='/categories/{{ cate | first | strip |  downcase }}/'>
				{{ cate | first }}
				<span class='badge pull-right'>
					{{ cate | last | size }}
				</span>
			</a>
			{% else %}
			<a class='list-group-item list-group-item-default' href='javascript:void(0)'>
				{{ cate | first }}
				<span class='badge pull-right'>
					{{ cate | last | size }}
				</span>
			</a>
			{% endif %}
		{% endfor %}
    </div>
</div>

<!--
<script>
    $(document).ready(function(){
        (function(){
            $.getJSON("/categorycount.json",function(o){
                $.each( o, function( i , item ){
                    var content =
                    "<a class='list-group-item list-group-item-default' href='/categories/"+item[0]+"/'>"+item[1]+
                        "<span class='badge pull-right'>"+item[2]+"</span>"+
                    "</a>"
                    $("#categorybar-list").append(content);
                });
            });
        })();
    });
</script>
-->